header{
    height: 30%;
    width: 100%;
    background-color: aqua;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-right: 30%;
    margin-left: 30%;
   justify-self: center;
   align-items: center;
   
}
a{
    font-style: none;
    color: black;
}
.logo{
    width: 100px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: 35px;
    margin: 2px;
}
.lebron{
    
    width: 1500px;
    margin-left: 10%;
}
.lebrontxt{
    width: 1600px;
    margin-left: 10%;  
}
.imgtn{
   display: flex;
   
    
}
.tenis{
   display: inline-block;
   margin-left: 40%;
   margin-right: 50% ;
    
}

.imgtn:hover{
    box-shadow: 5px 5px 5px; color: black;
    border-radius: 20px 50px 20px 50px;
    transition: 0.5s;
}


