h1{
    user-select: none;
}
div::before{
    content: "*";
    margin: 50px;
}
h1::after{
    content:"@"
}
h1::first-letter{
    color: rgb(0, 255, 0);
}
p::first-line{
    font-size: 2em;
}
p::selection{
    color: rgb(30, 255, 0);
    background-color: black;
}
input::placeholder{
    font-style: italic;
}